<a href="https://colab.research.google.com/github/dataKavoi/data-mining-bls/blob/main/BLSmining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Make libraries available for use
!pip install pandas
!pip install matplotlib
!pip install numpy
!pip install bls
import pandas as pd
import matplotlib as plt
import numpy as np
import bls

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bls
  Downloading bls-0.3.0-py3-none-any.whl (3.3 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from bls) (1.3.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from bls) (2.23.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->bls) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->bls) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->bls) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->bls) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->bls) (2022.5.18.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->bls) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->bls) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->bls) (3.0.4)
Installing collected packages: bls
Successfully installed bls-0.3.0

In [ ]:
# Pass BLS endpoint for the Wages and salaries data series
wages = bls.get_series('CIU2020000000000A')
wages

date
2013Q1    1.7
2013Q2    1.9
2013Q3    1.8
2013Q4    2.1
2014Q1    1.7
2014Q2    1.9
2014Q3    2.3
2014Q4    2.2
2015Q1    2.8
2015Q2    2.2
2015Q3    2.1
2015Q4    2.1
2016Q1    2.0
2016Q2    2.6
2016Q3    2.4
2016Q4    2.3
2017Q1    2.6
2017Q2    2.4
2017Q3    2.6
2017Q4    2.8
2018Q1    2.9
2018Q2    2.9
2018Q3    3.1
2018Q4    3.1
2019Q1    3.0
2019Q2    3.0
2019Q3    3.0
2019Q4    3.0
2020Q1    3.3
2020Q2    2.9
2020Q3    2.7
2020Q4    2.8
2021Q1    3.0
2021Q2    3.5
2021Q3    4.6
2021Q4    5.0
2022Q1    5.0
Freq: Q-DEC, Name: CIU2020000000000A, dtype: float64

In [ ]:
# Pull CPI data series
cpi = bls.get_series('CUUR0000SA0')
cpi.to_csv('cpi_data.csv')
cpi_data = pd.read_csv('cpi_data.csv')
cpi_data.columns = 'Date','CPI'
cpi_data

        Date      CPI
0    2013-01  230.280
1    2013-02  232.166
2    2013-03  232.773
3    2013-04  232.531
4    2013-05  232.945
..       ...      ...
108  2022-01  281.148
109  2022-02  283.716
110  2022-03  287.504
111  2022-04  289.109
112  2022-05  292.296

[113 rows x 2 columns]

In [ ]:
# Manipulating the CPI data series to make every 3rd quarterly just like the wages and salaries data sets and print
cpi_data['Date'] = cpi_data['Date'].str.replace('-03', 'Q1')
cpi_data['Date'] = cpi_data['Date'].str.replace('-06', 'Q2')
cpi_data['Date'] = cpi_data['Date'].str.replace('-09', 'Q3')
cpi_data['Date'] = cpi_data['Date'].str.replace('-12', 'Q4')
cpi_data['Date']
from google.colab import data_table
data_table.enable_dataframe_formatter()

In [ ]:
# Clean CPI data using ("-") to eliminate non-quarterly data
newcpi_data = cpi_data[(cpi_data.Date.str.contains("-") == False)]
newcpi_data

       Date      CPI
2    2013Q1  232.773
5    2013Q2  233.504
8    2013Q3  234.149
11   2013Q4  233.049
14   2014Q1  236.293
17   2014Q2  238.343
20   2014Q3  238.031
23   2014Q4  234.812
26   2015Q1  236.119
29   2015Q2  238.638
32   2015Q3  237.945
35   2015Q4  236.525
38   2016Q1  238.132
41   2016Q2  241.018
44   2016Q3  241.428
47   2016Q4  241.432
50   2017Q1  243.801
53   2017Q2  244.955
56   2017Q3  246.819
59   2017Q4  246.524
62   2018Q1  249.554
65   2018Q2  251.989
68   2018Q3  252.439
71   2018Q4  251.233
74   2019Q1  254.202
77   2019Q2  256.143
80   2019Q3  256.759
83   2019Q4  256.974
86   2020Q1  258.115
89   2020Q2  257.797
92   2020Q3  260.280
95   2020Q4  260.474
98   2021Q1  264.877
101  2021Q2  271.696
104  2021Q3  274.310
107  2021Q4  278.802
110  2022Q1  287.504

In [ ]:
# Save the new data series to a CSV file
newcpi_data.to_csv('cpi_clean.csv')

In [ ]:
# Address inconsistency between absolute point values in CPI set and percentages in wages data
wages = "bls.get_series('CIU2020000000000A)" # Get the data and save to csv file
wages.to_csv('bls_wages_data_csv')
df = pd.read_csv('bls_wages_data_csv') # Push data to a dataframe
df.columns = 'Date', 'Wages' # Give data column header 'Date' to match CPI set
df.head()

AttributeError: ignored